@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.encabezado1 {
    background-color: #002d1c;
    padding: 10px;
}

    .encabezado1 .contenido_encabezado1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .encabezado1 .small-svg {
        height: 50px;
    }

    .encabezado1 .listaE1 {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

        .encabezado1 .listaE1 ul {
            list-style: none;
            display: flex;
            gap: 15px;
            margin: 0;
            padding: 0;
        }

            .encabezado1 .listaE1 ul li a {
                color: white;
                text-decoration: none;
            }

    .encabezado1 .search-icon {
        margin-left: 20px;
    }

.encabezado2 {
    background-color: #ffffff;
    padding: 10px 0;
}

    .encabezado2 .contenido_encabezado2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .encabezado2 .contenido_encabezado2 img {
            height: 50px;
            margin-right: 10px; /* Espacio entre imágenes */
        }

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    padding: 10px;
}

.left-menu {
    display: flex;
    gap: 10px;
}

.right-menu a {
    color: white;
}

.content {
    padding: 20px;
}

.admin-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.admin-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.black-toolbar {
    background-color: #333;
    color: white;
}

.admin-toolbar span {
    font-weight: bold;
}

.btn-toolbar {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-toolbar:hover {
        background-color: #0056b3;
    }

.footer {
    background-color: #001f60;
    color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

    .footer .info-text {
        margin: 0;
        flex-grow: 1;
    }

        .footer .info-text p {
            margin: 5px 0;
        }

    .footer img {
        max-width: 150px;
        border-radius: 10px;
        margin-left: 20px;
    }
